body{
  font-family: Arial;
  background-color: rgb(255,250,230);
}

table, td, th  {
  font-size: 14px;
  border: 1px solid rgb(200,200,200);
  border-collapse: collapse;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

table {
  border-color: black;
  border-width: 2px;
}

th {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

td {
    padding: 3px;
}

.main{
	display: block;
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid gray;
	border-radius: 6px;
	padding: 20px;
	text-align: center;
	width: 500px;
    margin-top: 50px;
}

.main h1{
	border-bottom: 1px solid gray;
	padding-bottom: 20px;			
}

.main h2{
	color: rgb(80,80,0);			
}

.movimientos {
    font-family: sans-serif;
    width: 900px;
}

.movimientos .t6{
    text-align: left;
}

.movimientos .t4, .t5, .t7, .t8, .t9, .t10{
    text-align: right;
}

.movimientos .t1, .t2, .t3 {
    width: 60px;
}

.movimientos .t5, .t8{
    width: 100px;
}

.movimientos h2{
    margin-top: 0px;
    text-align: left;
	color: rgb(80,80,0);			
    padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

.movimientos label{
    font-size: 18px;
}

.login{
	width: 300px;
	margin: 0 auto;
	margin: 20px auto;
}

.login-image{
  width: 500px;
  opacity: 1;
}

.login .input-line{
	display: block;
	overflow: hidden;
	margin-bottom: 4px;
}

.login .input-line label{
	float: left;
	margin-top: 3px;	
}

.login .input-line input{
	float: right;
}

.submit{
  margin-top: 15px;
}

.invalid-user{
	display: block;
	padding-bottom: 20px;
	color: red;
	font-weight: bold;
}

